<md-toolbar class="pip-appbar-ext">
</md-toolbar>

<pip-document>
    <div ng-if="$party" class="pip-content-container m16">

        <h2>Document List</h2>

        <div>
            {{ documents }}
        </div>
        <h3>Collapsed</h3>
        <pip-document-list pip-documents="documents"
                           pip-rebind="true"
                           pip-collapse="true"
                           ng-disabled="documentListDisabled">
        </pip-document-list>

        <pip-document-list pip-documents="documents"
                           pip-document-icon="true"
                           pip-rebind="true"
                           pip-collapse="true"
                           ng-disabled="documentListDisabled">
        </pip-document-list>

        <md-button ng-click="documentListDisabled = !documentListDisabled">
            <span ng-show="documentListDisabled">Enable</span>
            <span ng-hide="documentListDisabled">Disable</span>
        </md-button>
        <md-button ng-click="documentListCollapsed = !documentListCollapsed">
            <span ng-show="documentListCollapsed">Collapse</span>
            <span ng-hide="documentListCollapsed">No Collapse</span>
        </md-button>

        <h2>Document List Edit</h2>

        <div>
            {{ documents }}
        </div>
        <br/>
        <pip-document-list-edit pip-documents="documents"
                                pip-created="onDocumentListCreated($event)"
                                pip-default-text="Click here or drag files to upload"
                                ng-disabled="documentListEditDisabled">
        </pip-document-list-edit>

        <md-button ng-click="onSaveDocumentsClick()">Save</md-button>
        <md-button ng-click="onResetDocumentsClick()">Reset</md-button>
        <md-button ng-click="documentListEditDisabled = !documentListEditDisabled">
            <span ng-show="documentListEditDisabled">Enable</span>
            <span ng-hide="documentListEditDisabled">Disable</span>
        </md-button>
        <md-button ng-click="documentListEditCollapsed = !documentListEditCollapsed">
            <span ng-show="documentListEditCollapsed">Collapse</span>
            <span ng-hide="documentListEditCollapsed">No Collapse</span>
        </md-button>

    </div>
</pip-document>

