.pip-content-container .scrolled {
    overflow-y: auto;
}

@media (min-width: 769px) {
    .pip-content-container {
        max-width: calc(100% - 300px) !important;
    }
}

pre {
    border-radius: 4px;
}

.flat {
    box-shadow: none !important;
}